html, body, header, h1, div, canvas {
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
  background: lightgray;
  color: black;
  width: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#canvas {
  background-image: url(./assets/images/game_background.jpg);
  background-size: cover;
}
