html, body, header, h1, div, canvas,
h2, a, ul, li, img, footer {
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
  background: lightgray;
  color: black;
  width: 100%;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.footer {
  margin: 0 auto;
  width: 800px;
}

.footer-links {
  margin: 0 auto;
  width: 252px;
}

.footer-links > li {
  float: left;
  padding: 0px 5px;
  margin: 0px 10px;
}

.footer-links > li > a {
  padding: 2px;
  display: block;
}

.footer-links > li > a:hover {
  background: yellow;
  border-radius: 3px;
}

.footer-links > li > a > img {
  width: 50px;
}

.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#canvas {
  background-image: url(./assets/images/game_background.jpg);
  background-size: cover;
}
